body
{
	background-color: rgb(222,222,222);
}

#window
{
	margin-top: 40px;
	background-color: #ffff;
	padding: 20px;
	border-radius: 10px;
	border-top: 5px solid rgb(3,2,90);
	align-items: center;
	margin-bottom: 40px;
}

#window form
{
	display: flex;
	flex-flow: row wrap;
}

#window div
{
  text-align: center;
  margin-bottom: 20px;
  font-size:20px;
  color: rgb(3,2,90);
}

#window input
{
	align-items: center;
	width: 100px;
	padding: 10px;
	vertical-align: middle;
	margin-right: 10px;
	border:none;
	border-bottom: 1px solid rgb(222,222,222);
}

#window input:focus
{
	outline: none;
	border-bottom: 2px solid black;
}

#window label
{
	font-size: 17px;
	padding: 10px;
	vertical-align: middle;
	margin-left: 10px;
	font-weight: bold;
}

#submit
{
	padding: 10px;
	vertical-align: middle;
	background-color: dodgerblue;
	border: unset;
	align-content: center;
}

#submit:hover
{
   background-color: royalblue;
}

@media(max-width: 950px)
{
	#window input
	{
		margin: 5px 0;
		width: auto;
	}
	#window form
	{
		flex-direction: column;
		align-items: stretch;
	}
}

#screen
{
	background-color: #ffff;
	padding: 20px;
	width: 70%;
	margin-left: 15%;
	border-radius: 10px;
	overflow-x: scroll;
	text-align: center;
}

#screen table
{
	border-collapse: collapse;
	background-color: #ffff;
	margin: 10px;
}

#screen td
{
	border: 1px solid black;
	/*background-color: #ffff;*/
}

#screen th
{
	border: 1px solid black;
	/*background-color: #dddd;*/
	background-color: rgba(20,255,20,0.5);
}

#screen tr:nth-child(even)
{
	background-color: #dddd;
}

@media print
{
	body *{
		visibility: hidden;
		overflow: hidden;
		width: auto;
	}

    body
    {
       visibility: visible;
       background-color: #ffffff;
    }

     #screen span,b
     {
      visibility: visible;
      position: absolute;
      top: 10px;
      left: 20px;
     }

	.print_contain,.print_contain *
	{
		visibility: visible;

	}

	.print_contain
	{
		position: absolute;
		top: 60px;
		left: 20px;
	}
}
