#main{
	background-color: #ffff;
	padding: 10px;
	user-select: none;
	height: auto;
}

#heading{
	color: black;
	text-align: center;
	margin-bottom: 50px;
}


hr
{
	border: 1px solid rgb(3,2,90);
	margin-bottom: 40px;
}
a{
	text-decoration: none;
}
.slct
{
	background-color: white;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin: 20px;
	padding: 12px;
	/*border-radius: 5px;*/
	height: 100px;
	width: 240px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	border: 1px solid;
	border: none;
	color: white;
	/*border-top: 12px solid rgb(3,2,90);*/
}

/*.select a
{
	color: white;
	font-family: "Verdana";
	letter-spacing: 1px;
}*/

#d1
{
	background-color: rgba(255, 163, 26,.8);
}

#d2
{
	background-color: rgba(51, 204, 255,.8);
}

#d3
{
	background-color: rgba(0, 179, 89,.8);
}

#d4
{
	background-color: rgba(255, 112, 77,.8);
}

.slct:hover
{
	color: black;
	box-shadow: 5px 10px 18px;
	cursor: pointer;
}

#main iframe
{
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 0.2%;
	width: 100%;
	height: 6000px;
	border: 2px solid #dddddd;
	border-top: 5px solid skyblue;
}
